__pycache__/*
__pycache__
.vscode/
.vscode

clindoc.egg-info
clindoc.egg-info/

build
build/

examples/mapf/docs
examples/sudoku/docs


.*/docs

mapf_build
mapf_docs
examples/docs
examples/hello


config.json